---
---
<div class="table-container relative overflow-x-auto rounded-xl border border-neutral-800 bg-neutral-900/40 scrollbar-hide">
  <table
    class="min-w-full border-collapse text-sm md:text-base
           [&_th]:text-left [&_th]:text-neutral-200 [&_td]:text-neutral-300
           [&_th]:px-3 [&_td]:px-3 md:[&_th]:px-4 md:[&_td]:px-4 [&_th]:py-3 [&_td]:py-3
           [&_thead_tr]:border-b [&_tbody_tr]:border-b border-neutral-800
           [&_tbody_tr:hover]:bg-neutral-900/50
           [&_tbody_tr:nth-child(even)]:bg-neutral-900/30
           [&_thead]:bg-neutral-900/60 [&_thead_th]:font-semibold
           md:[&_thead_th]:sticky md:[&_thead_th]:top-0 md:[&_thead_th]:z-10 md:[&_thead_th]:bg-neutral-950/70 md:[&_thead_th]:backdrop-blur-sm
           [&_tr>*:not(:last-child)]:border-r [&_tr>*:not(:last-child)]:border-neutral-800/60
           [&_caption]:caption-bottom [&_caption]:text-neutral-400 [&_caption]:text-xs [&_caption]:px-4 [&_caption]:py-2
           [&_td]:align-top [&_th]:align-middle
           [&_th[align=center]]:text-center [&_td[align=center]]:text-center
           [&_th[align=right]]:text-right [&_td[align=right]]:text-right
           [&_tr>*:first-child]:pl-5 [&_tr>*:last-child]:pr-5">
    <slot />
  </table>
</div>

<style>
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

.table-container::before,
.table-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 16px;
  pointer-events: none;
  z-index: 5;
}
.table-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
}
.table-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0));
}
</style>


